<div class="container">
  <p>URL shortener</p>
  <img src="https://assets-lighthouse.alphacamp.co/uploads/image/file/16716/ExportedContentImage_00.png" alt="">
  
  <form action="/" method= "POST">
  <div class="form-group">
    <input type="text"  name="url" value= {{shortURL}}>
    <button type="submit"> submit</button>
  </div>
  
  </form>
</div>

